

body{

   
}
#banner{

    width: 100%;
} 

.principal{

 background: #cccccc;
 padding: 30px;   

}

.titulo-principal{

    padding-left: 20px;
}



.titulo-central{

    text-align: center;
}

p{
    text-align : center;
}

#missao{

    font-size:20px;
}

em strong{

    color: red;
}
.itens{

    font-size:italic;
}
.beneficios{

    background:#ffff;
    padding: 20px;
}


ul{

display:inline-block ;
vertical-align: top;
width: 20%;
margin-right: 15%;


}
.imgbeneficios{

    width: 50%;
}
